* {
    margin: 0px;
    padding: 0px;
}


.parent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    border: 2px solid black;
}

.items {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(128, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #14178d;
   
}


.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-left {
    top: 0;
    left: 0;
}

.top-right {
    top: 0;
    right: 0;
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.bottom-right {
    bottom: 0;
    right: 0;
}

#mycenter{
    background-color: orange;
    animation: rotateCenter 5s linear infinite;
}

@keyframes rotateCenter {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}